html
    head
        title="this is a message in the head tag"
        //- link(rel="stylesheet", href="style.css")
    body
        h1(class="test")="3ra entrega proyecto final"
        h3="Sign up form"
        div
            form(action="/api/users/signup", method="POST")
                div
                    label(for="username")="Email"
                    input(id="email" type="text" name="username")
                div
                    label(for="password")="Password"
                    input(id="password" type="text" name="password")
                div
                    //- label(for="thumbnail")="Imagen del producto (url)"
                    //- input(id="thumbnailInput" type="text" name="thumbnail")
                button(id="")="signup"
        div
            a(href="/api/users/login")="Log in"

