html
    head
        title="this is a message in the head tag"
        link(rel="stylesheet", href="style.css")
    body
        div
            h1="Registro de Usuario"
            form(action="/signup" method="POST")
                label(for="username")="email/username:"
                input(name="username" type="text" id="username")
                label(for="password")="password"
                input(name="password" type="password" id="password")
                button(id="sendUserID")="Enviar"
        div
            p="Already have an account?"
            a(href="/login")="Log in"